body {
    font-family: Arial, sans-serif;
    color: #581845 ;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #5E5CE7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #581845 ;
}

.form {
    margin-top: 20px;
}

/* Estilos para los inputs y selects */
.form-input,
.form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #DAF7A6;
}

/* Estilos para los botones */
.btn {
    padding: 10px 20px;
    background-color: #581845;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover {
    background-color: #8E44AD;
}

/* Estilos para los mensajes de error */
.error-message {
    color: #dc3545;
    font-size: 14px;
}